# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Streamlit cache
.streamlit/

# Logs and DBs
*.log
*.sqlite3

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Ignore image database files
*.npy
*.npz

# Local examples
examples/*.jpg
examples/*.png
